* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  /* width: 1250px;
  margin: 0 auto; */
}
header {
  background-color: #1f2937;
  color: #fff;
  /* width: 1250px; */
  margin: 0 auto;
  padding: 0 250px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px 100px;
}
.header-logo-text {
  font-size: 24px;
  font-weight: bold;
}
.header-links ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.header-bottom {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 100px;
}
.left {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}
.text-web {
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
}
.button {
  align-self: flex-start;
  flex-basis: 30px;
  min-width: 100px;
  color: #fff;
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 5px;
}
.right {
  background-color: #999;

  display: flex;

  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex: 1;
}
main {
  /* width: 1250px; */
  margin: 0 auto;
  /* padding: 0 250px; */
}
.section-1 {
  display: flex;
  flex-direction: column;
  padding: 50px 350px;
}

.flex-container {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  margin: 50px 0;
  gap: 150px;
}
.cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image {
  border: 3px solid #3882f6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.section-2 {
  background-color: #999;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 350px;
  flex: 1;
}
.quote {
  flex: 1;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.author-quote {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}
.section-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.blue-button {
  background-color: #3882f6;
  flex: 2;
  border-radius: 5px;
  color: #fff;
  display: flex;
  gap: 300px;
  padding: 50px 150px;
  margin: 100px 350px;
}
.button-2 {
  min-width: 100px;

  height: 30px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  /* width: 1250px; */
  margin: 0 auto;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fff;
  padding: 20px 100px;
}
